{{define "index"}}
<!DOCTYPE html>
<html lang="fa" dir="rtl" class="index">

<head>
    <title>فرم نظرسنجی لیگ امدادگر دانش آموزی ایران اپن</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
    <meta name="description" content="فرم نظرسنجی لیگ امدادگر دانش آموزی ">
    <meta name="author" content="zibaei.net">
    <meta name="keywords" content="ایران اپن,امدادگر,robocup">
    <meta name="theme-color" content="#455A64">
    <meta name="apple-mobile-web-app-status-bar-style" content="#455A64">
    <meta name="msapplication-navbutton-color" content="#455A64">
    <meta property="og:title" content="فرم نظر سنجی لیگ امدادگر دانش آموزی">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://rcjrescue.zibaei.net">
    <meta property="og:image" content="https://rcjrescue.zibaei.net/static/robocup.png">
    <meta name="ROBOTS" content="INDEX, FOLLOW">
    <link href="/static/fonts/vazir/font-face.css" rel="stylesheet">
    <link href="/static/total.min.css" rel="stylesheet">
    <link href="/static/style.css?ver={{.buildVersion}}" rel="stylesheet">
</head>

<body>
    <div class="container sm-top">
        <div class="row">
            <div class="col m6 offset-m3  center-block">
                <form action="#" class="card-panel grey lighten-4 z-depth-2">
                    <h5 class="header-text center-align">فرم نظر سنجی</h5>
                    <h6 class="header-text center-align">دوازدهمین دوره مسابقات ایران اپن</h6>
                    <h6 class="header-text center-align">در لیگ امدادگر دانش آموزی</h6>
                    <hr>
                    <p class="text-justify intro-text">
                        سلام شرکت کنندگان عزیز ، تصمیم گرفته ایم از شما درباره چند مورد از موارد مسابقات نظر خواهی کنیم ، این نظرات به صورت لحظه
                        ای در کانال تلگرام ما قابل مشاهده هستند و امیدواریم بدون هیچ چشم داشتی اقدام به پر کردن هر گزینه
                        بکنید. لطفا برای هر مورد یک گزینه را انتخاب کنید و در انتها کلیک ثبت را فشار دهید
                    </p>
                    <div class="item">
                        <h6 class="right-align">
                            سطح برگزاری مسابقات
                        </h6>
                        <p class="center-align">
                            <input name="group1" type="radio" id="item1-1" />
                            <label for="item1-1">خوب</label>
                            <input name="group1" type="radio" id="item1-2" />
                            <label for="item1-2">متوسط</label>
                            <input name="group1" type="radio" id="item1-3" />
                            <label for="item1-3">بد</label>
                        </p>
                    </div>
                    <div class="item">
                        <h6 class="right-align">
                            کیفیت داوری
                        </h6>
                        <p class="center-align">
                            <input name="group2" type="radio" id="item2-1" />
                            <label for="item2-1">خوب</label>
                            <input name="group2" type="radio" id="item2-2" />
                            <label for="item2-2">متوسط</label>
                            <input name="group2" type="radio" id="item2-3" />
                            <label for="item2-3">بد</label>
                        </p>
                    </div>
                    <div class="item">
                        <h6 class="right-align">
                            تناسب سختی مراحل
                        </h6>
                        <p class="center-align">
                            <input name="group3" type="radio" id="item3-1" />
                            <label for="item3-1">خوب</label>
                            <input name="group3" type="radio" id="item3-2" />
                            <label for="item3-2">متوسط</label>
                            <input name="group3" type="radio" id="item3-3" />
                            <label for="item3-3">بد</label>
                        </p>
                    </div>
                    <div class="item">
                        <h6 class="right-align">
                            زمان بندی
                        </h6>
                        <p class="center-align">
                            <input name="group4" type="radio" id="item4-1" />
                            <label for="item4-1">خوب</label>
                            <input name="group4" type="radio" id="item4-2" />
                            <label for="item4-2">متوسط</label>
                            <input name="group4" type="radio" id="item4-3" />
                            <label for="item4-3">بد</label>
                        </p>
                    </div>
                    <div class="item">
                        <h6 class="right-align">
                            نحوه برخورد کمیته فنی با تیم ها
                        </h6>
                        <p class="center-align">
                            <input name="group5" type="radio" id="item5-1" />
                            <label for="item5-1">خوب</label>
                            <input name="group5" type="radio" id="item5-2" />
                            <label for="item5-2">متوسط</label>
                            <input name="group5" type="radio" id="item5-3" />
                            <label for="item5-3">بد</label>
                        </p>
                    </div>
                    <div class="item">
                        <h6 class="right-align">
                            ایده و برگزاری سوپرتیم
                        </h6>
                        <p class="center-align">
                            <input name="group6" type="radio" id="item6-1" />
                            <label for="item6-1">خوب</label>
                            <input name="group6" type="radio" id="item6-2" />
                            <label for="item6-2">متوسط</label>
                            <input name="group6" type="radio" id="item6-3" />
                            <label for="item6-3">بد</label>
                        </p>
                    </div>
                    <div class="item">
                        <h6 class="right-align">
                            طرح و کیفیت مسابقات
                        </h6>
                        <p class="center-align">
                            <input name="group7" type="radio" id="item7-1" />
                            <label for="item7-1">خوب</label>
                            <input name="group7" type="radio" id="item7-2" />
                            <label for="item7-2">متوسط</label>
                            <input name="group7" type="radio" id="item7-3" />
                            <label for="item7-3">بد</label>
                        </p>
                    </div>
                    <div class="item">
                        <h6 class="right-align">
                            تاثیر کوتاهی پارتیشن ها
                        </h6>
                        <p class="center-align">
                            <input name="group8" type="radio" id="item8-1" />
                            <label for="item8-1">خوب</label>
                            <input name="group8" type="radio" id="item8-2" />
                            <label for="item8-2">متوسط</label>
                            <input name="group8" type="radio" id="item8-3" />
                            <label for="item8-3">بد</label>
                        </p>
                    </div>
                    <div class="item">
                        <h6 class="right-align">
                            اطلاع رسانی
                        </h6>
                        <p class="center-align">
                            <input name="group9" type="radio" id="item9-1" />
                            <label for="item9-1">خوب</label>
                            <input name="group9" type="radio" id="item9-2" />
                            <label for="item9-2">متوسط</label>
                            <input name="group9" type="radio" id="item9-3" />
                            <label for="item9-3">بد</label>
                        </p>
                    </div>
                    <div class="item">
                        <h6 class="right-align">
                            نحوه امتیاز بندی
                        </h6>
                        <p class="center-align">
                            <input name="group10" type="radio" id="item10-1" />
                            <label for="item10-1">خوب</label>
                            <input name="group10" type="radio" id="item10-2" />
                            <label for="item10-2">متوسط</label>
                            <input name="group10" type="radio" id="item10-3" />
                            <label for="item10-3">بد</label>
                        </p>
                    </div>
                    <br> {{with .data}} {{if .Enable}}
                    <button type="button" onclick="sendToServer()" style="width:100%;" class="btn btn-large waves-effect waves-green">ثبت</button>                    {{else}}
                    <button type="button" onclick="sendToServer()" style="width:100%;" class="btn btn-large waves-effect waves-green" disabled="disabled">قبلا ثبت شده است</button>                    {{end}} {{end}}
                </form>
            </div>
        </div>
    </div>
    <script src="/static/script.js?ver={{.buildVersion}}"></script>
    <script src="/static/total.min.js"></script>
</body>

</html>
{{end}}